body {font-family: 'Sriracha', cursive;
      background-color: #f4ebc1;
      color: #709fb0;
}
.header {color: 726a95;
}
table {
    background-color: #a0c1b8;
    color: #726a95;
    border-collapse:separate;
      border:1px solid ;
      width:300px;
  }

  img {
    width: 200px ;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
